* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: #fff;
}

.location, .temperture {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperture {
  flex-direction: column;
}
.degree-section {
  align-items: center;
  display: flex;
  cursor: pointer;
  span {
    margin: 10px;
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
  }
}
